@using ASP.Server.Models
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="listeBooks">
    <h1>Liste des livres:</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Authors</th>
                <th>Price</th>
                <th>Content</th>
                <th>Genres</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>
                        @if (book.Authors != null)
                        {
                            @foreach (var author in book.Authors)
                            {
                                @author.Name
                                if (!ReferenceEquals(author, book.Authors.Last()))
                                {
                                    <text>, </text>
                                }
                            }
                        }
                    </td>
                    <td>@book.Price</td>
                    <td>@book.Content</td>
                    <td>
                        @if (book.Genres != null)
                        {
                            @foreach (var genre in book.Genres)
                            {
                                @genre.Name
                                if (!ReferenceEquals(genre, book.Genres.Last()))
                                {
                                    <text>, </text>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
